// Compile "main.scss" as "css/main.css"

/**
 * Import Bootstrap sources
 * https://getbootstrap.com/docs/5.2/customize/sass
 */

// @import "../node_modules/bootstrap/scss/bootstrap"; // Include all of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
//
// Options
$enable-caret: true;
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-reduced-motion: true;
$enable-smooth-scroll: true;
$enable-grid-classes: true;
$enable-button-pointers: true;
$enable-rfs: true;
$enable-validation-icons: true;
$enable-negative-margins: false;
$enable-deprecation-messages: true;
$enable-important-utilities: true;

$spacer: 1rem;

// Grayscale vars
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #575756;
$gray-800: #343a40;
$gray-900: #212529;

// Color vars
$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #FF4A4A;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;
$white: #fff;

// Fonts
// $font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
// $font-family-serif: Georgia, "Times New Roman", Times, serif;
// $font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
// $font-family-base: $font-family-sans-serif;
// $font-family-helvetica: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');
$font-family: 'Raleway', sans-serif;

// **************************
// FONTS DEFINITION
// **************************

:root {
	--bs-body-color: #575756 !important;
	--bs-link-color: $gray-700 !important;
	--bs-link-hover-color: $gray-900 !important;
	--bs-body-font-weight: 300 !important;
	--bs-body-font-size: 14px !important;
}
.card {
	--bs-card-img-overlay-padding: 2rem !important;
}

p.small {
	font-size: .7rem;
}
h1.entry-title {
	font-size: 3.5rem;
	font-weight: 400;
}
ul.nav-pills button.btn {
	font-size: 22px;
}

.display-1 {
	font-size: 4.5rem !important;
	line-height: 57pt !important;
	font-weight: 700 !important;	
}
.display-2 {
	font-size: 3.4rem !important;
	line-height: 57pt !important;
	font-weight: 500 !important;
}
.display-3 {
	font-size: 2.5rem !important;
	font-weight: 500 !important;
	line-height: 55pt !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-weight: 400 !important;
}
@media (min-width: 1200px) {
	h3 {font-size: 1.5rem !important;}
}

$link-decoration: none;
@media (max-width: 767px) {
	.display-2 {
		font-size: calc(0.3rem + 3.9vw) !important;
		font-weight: 300 !important;
		line-height: 1 !important;
	}
	.display-3 {
		font-size: calc(0.5rem + 3.9vw) !important;
		font-weight: 300 !important;
		line-height: 1 !important;
	}
}
@media (max-width: 576px) {
	.display-1 {
		font-size: 2rem !important;
		line-height: 25pt !important;
	}
}


// Buttons customization
.btn-secondary {
	--bs-btn-bg: #575756 !important;
	--bs-btn-border-color: #545556 !important;
	--bs-btn-hover-bg: #808080 !important;
	--bs-btn-hover-border-color: #7b7b7b !important;
}
.btn-light {
	--bs-btn-bg: #ffffff !important;

}


// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed: Uncomment components to reduce the filesize
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/accordion";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/offcanvas";
@import "../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";


/**
 * General
 */

a:hover > i {
	color: $white !important;
}

hr {
	color: #1F140F !important;
	opacity: unset !important;
	border-top: 3px solid !important;
}

body {
	font-family: $font-family;
	&.page-template-page-full {
		#main {
			max-width: 100%;
		}
	}

	/* If WP-Adminbar is visible */
	&.admin-bar {
		#header.fixed-top {
			top: var(--wp-admin--admin-bar--height);
		}

		.edit-link a {
			color: #fff !important;
			font-weight: normal !important;
			text-decoration: none !important;

			&::before {
				content: '\270E';
				display: inline-block;
				margin-right: 5px;
			}
		}
	}
}

img {
	vertical-align: middle;
}


/**
 * WordPress customization
 */

/* WordPress Embeds */
.post-thumbnail,
.wp-video,
.embed-responsive {
	margin: 5px 0;
	width: 100% !important;
}

.post,
.post-thumbnail {
	img {
		max-width: 100%;
		height: auto;
	}
}

/* Pre Header */ 
.pre-header {
	position: relative;
	background-color: #ffffff5a;
	padding: 0.3rem 0 0.3rem 0rem;
	.container a {
		color: $white;
	}
	.container a:hover {
		color: $gray-300;
	}

}

/* Header */
header {
	z-index: 1000;
}
#header {
	.search-form {
		min-width: 60px;
	}
	a.nav-link {
		color:$white;
	}
}

.bg-light {
	background-color: #ffffff00 !important;
}

.navbar-brand {
	img {
		height: 50px;
	}
}
@media (max-width: 768px) {
	.navbar-brand {
		img {
			height: 35px;
		}
	}
}
@media (max-width: 768px) {
	.navbar-brand {
		img {
			height: 30px;
		}
	}
}



.navbar-collapse {
	justify-content: flex-end;
	@media (max-width: 768px) {
	 background-color: #575756;
	 z-index: 3;
	 padding: 1rem;
	 margin-top: 1rem;
	 // row position
	 --bs-gutter-x: 1.5rem;
	 --bs-gutter-y: 0;
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -ms-flex-wrap: wrap;
	 flex-wrap: wrap;
	 margin-left: calc(var(--bs-gutter-x)*-.5);
	 margin-right: calc(var(--bs-gutter-x)*-.5);
	 flex-direction: column-reverse;
	 align-items: flex-start;
	}
}
.navbar-toggler,
.navbar-toggler:focus {
	//border: var(--bs-border-width) solid white;
	border: none;
    box-shadow: none;
}
.navbar-toggler-icon {
	filter: invert(99%) sepia(0%) saturate(7498%) hue-rotate(70deg) brightness(99%) contrast(105%);
}


.navbar-static-top {
	margin-bottom: $grid-gutter-width;
}

/* Main */

#main {
	margin-top: $spacer;
}

/* Footer */

#footer {
	background-color: rgb(87,87,86);
	color: #ffffff;
	.footer-logo {
		height: 40px;
		padding-top: 20px ;
	}
	p {
		margin-top: 10px;
	}

	.menu-item {
		a {
			&[aria-current='page'] {
				// color: $link-hover-color;
			}
		}
		a.nav-link {
			color: #ffffff !important;
		}
	}
	.social-footer {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: space-evenly;
		i:hover {
			color: $gray-300 !important;
		}
	}
}

/* Sidebar */

.widget-area {
	ul {
		list-style: none;
		padding: 0;
	}
}

/* Author */

.author-avatar {
	.avatar {
		width: 64px;
		height: auto;
	}
}

.author-info {
	margin: 40px 0;

	h2,
	h3 {
		margin-top: 0;
	}
}

/* Posts */

.sticky {
	.card {
		background-color: $gray-100;
	}
}

.entry-meta {
	font-size: small;
	margin-top: ($grid-gutter-width * .5);
}

.single {
	.entry-content,
	.post-navigation,
	#comments-title {
		margin: $grid-gutter-width 0;
	}
}

#comments {
	margin-top: $grid-gutter-width;
}

.comment-meta {
	height: 40px;
}

.comment-reply-title {
	margin: $grid-gutter-width 0 ($grid-gutter-width * .5);
}

.commentlist {
	list-style: none;
	margin: 0 auto;
	width: 68.9%;

	> li.comment {
		margin: 0 0 1.625em;
		padding: 1.625em;
		position: relative;
	}

	.children {
		list-style: none;
		margin-top: $grid-gutter-width;

		> li.comment {
			border-top: 1px solid $gray-300;
			padding-top: $grid-gutter-width;
			position: relative;
		}
	}

	.avatar {
		width: 64px;
		height: 64px;
		border-radius: 50%;
		box-shadow: 0 1px 2px $gray-600;
		padding: 0;
		position: absolute;
		top: 0;
		left: -102px;
	}
}

/* WordPress Blocks */

// Buttons

.wp-block-button {
	&.is-style-outline {
		.wp-block-button__link {
			@extend .btn;
			@extend .btn-outline-primary;
		}
	}

	&.btn-lg {
		.wp-block-button__link {
			@extend .btn-lg;
		}
	}
	&.btn-sm {
		.wp-block-button__link {
			@extend .btn-sm;
		}
	}

	.wp-block-button__link {
		@extend .btn;
		@extend .btn-primary;
		text-decoration: none;
	}
}

// Table

.wp-block-table {
	td,
	th {
		border: inherit;
	}

	table {
		@extend .table;
	}
}

// Image, Media and Text

.wp-block-image,
.wp-block-media-text__media {
	img,
	video {
		height: auto;
	}
}


/**
 * Responsive Design using "mixins/_breakpoints.scss"
 */

@media (max-width: breakpoint-max(sm)) {
	#sidebar {
		margin-top: 60px;
	}
}

/** SEARCH FORM*/
// open on click search form behaviour //

.home-nav.navbar-default .navbar-nav>li input.search-field {
	color: #848484;
	background-image: url(../../node_modules/bootstrap-icons/icons/search.svg);
	// wp/wp-content/themes/ue-theme/node_modules/bootstrap-icons/icons/search.svg
  }
  
  .home-nav.navbar-default .navbar-nav>li input.search-field:focus {
	border-color: #BABABA;
  }
  
  .search-form {
	  margin-top: 10px;
	  margin-left: 30px;
  }
  @media (max-width: 768px) {
	.search-form {
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
  }
  
  .search-field {
	background-color: transparent;
	background-image: url(../../node_modules/bootstrap-icons/icons/search.svg);
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	border: none;
	cursor: pointer;
	height: 30px;
	margin: 3px 0;
	padding: 0 0 0 34px;
	position: relative;
	-webkit-transition: width 400ms ease, background 400ms ease;
	transition:         width 400ms ease, background 400ms ease;
	width: 0;
	filter: invert(1);
  }
  
  .search-field:focus {
	background-color: #ffffff67;
	// border: solid #e9e9e900;
	border: none;
	border-width: 0 0 0 0;
	cursor: text;
	// outline: 0;
	outline: none;
	width: 230px;
	box-shadow: 0 0 0 0.05rem rgb(0 0 0 / 10%);
	border-radius: 0.8rem;
	height: 2rem;
  }
  
  .search-submit {
	display: none;
  }

/** HOMEPAGE template **/ 
//  Main section

p#breadcrumbs {
	padding-top: 1rem;
}

main.videofull {
	padding: 0px;
	margin-top: 0px !important;
	video {
		z-index: -1;
		position: relative;
	}
}
.video-overflow {
	background-color: #00000050;
}
.content-over {
	color: #fff;
	display: flex;
    flex-direction: column;
	top: 9vh;
	z-index: 0;
}
@media (max-width: 767px) {
	.content-over {
		top: 9vh;
	}
}
.content-over {
	top: 30vh;
	@include media-breakpoint-up(sd) {
		top: 10vh;
	}
	@include media-breakpoint-up(md) {
		top: 29vh;
	}	
	@include media-breakpoint-up(xl) {
		top: 40vh;
	}
}
section#slider-video {
	max-height: 810px;
    overflow: hidden;
}

// Live somos
img#live-somos {
	width: 8rem;
	@include media-breakpoint-up(sm) {
		width: 11rem;
	}
}



// Section proyectos-slider
section#proyectos-slider {
	.btn.btn-link {
		color: $gray-700;
		padding-left: 0px;
		font-weight: 400;
	}
	.btn.btn-link.active {
		text-decoration: underline;
		font-weight: 500;
	}
	.card {
		// box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
		border: none;
	  }
	.card img {
		max-width: 100%;
	}

	.card-body {
		position: absolute;
		top: 30%;
		width: 100%;
		justify-content: center;
		display: flex;
		.title {
			text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
			text-align: center;
		}
		.link {
			text-align: center;
		}
	  }
	.btn-card {
		border-radius: 20px;
	}
}
  .carousel-inner {
	// padding: 1em;
  }
  .carousel-control-prev-icon {
	width: 40%;
	height: 40%;
	background-image: url(/wp-content/themes/ue-theme/node_modules/bootstrap-icons/icons/chevron-left.svg);	
}
.carousel-control-next-icon {
	width: 40%;
	height: 40%;
	background-image: url(/wp-content/themes/ue-theme/node_modules/bootstrap-icons/icons/chevron-right.svg);	
}
  .carousel-control-prev,
  .carousel-control-next {
	// background-color: #e1e1e1;
	width: 20vh;
	height: 20vh;
	// border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
	@include media-breakpoint-up(md) {
		top: 38%;
	}
  }
  .carousel-control-prev {
	justify-content: left;
	left: -3.5rem;
  }
  .carousel-control-next {
	justify-content: right;
	right: -3rem;
	@include media-breakpoint-up(md) {
		right: -9rem;
	}
  }  
  
  @media (min-width: 768px) {
	.carousel-item {
	  margin-right: 1rem;
	  flex: 0 0 23.9%;
	  display: block;
	  overflow: hidden;
	}
	.carousel-inner {
	  display: flex;
	}
  }
  .card .img-wrapper {
	  max-width: 100%;
	  display: flex;
	  justify-content: center;
	  flex-basis: content;
	  align-items: center;
  }
  .card img {
	  max-height: 100%;
  }
  @media (max-width: 767px) {
	.carousel-control-prev {
		transform: translateX(40%);
		filter: invert(99%) sepia(0%) saturate(7498%) hue-rotate(70deg) brightness(99%) contrast(105%);
	}
	.carousel-control-next {
		transform: translateX(-40%);
		filter: invert(99%) sepia(0%) saturate(7498%) hue-rotate(70deg) brightness(99%) contrast(105%);
	}
	.card .img-wrapper {
	//   height: 17em;
	}
  }

// Block tomemos un cafe
section#banner-proxima-inversion {
	.img-overflow {
		overflow: hidden;
		max-height: 450px;
		background-color: #bb9872a6;
		display: flex;
		align-content: center;
		flex-wrap: wrap;

		.block-display {
			position: absolute;
    		width: 100%;
    		padding-top: 8rem;
		}
	}
	img {
		width: 100%;
		z-index: -1;
		position: relative;
	}
	.btn {
		border-radius: 20px;
	}
}


// COUNTERS NUMBERS
section#numeros {
	h1.numero {
		font-weight: 400;
		font-size: 4rem;
		@include media-breakpoint-up(sm) {
			font-size: 7.5rem;
		}
	}
	.container-fluid {
		background-color: #666766;
		min-height: 18rem;
	}
	h4 {
		font-size: 1.3rem;
		font-weight: 400;
	}

}
.counters {
	color: #fff;
	text-align: center;
}



// Section Servicios
section#servicios {
	.mousehover {visibility: hidden;}
	a:hover {
		img.card-img {
			-webkit-filter: brightness(50%) hue-rotate(12deg) contrast(0.8);
			-moz-filter: brightness(50%) hue-rotate(12deg) contrast(0.8);
			-o-filter: brightness(50%) hue-rotate(12deg) contrast(0.8);
			-ms-filter: brightness(50%) hue-rotate(12deg) contrast(0.8);
			filter: brightness(50%) hue-rotate(12deg) contrast(0.8);
		}
		.mousehover {
			visibility: unset;
		}
	}
	.card {
		overflow: hidden;
		max-height: 20rem;
		color: #fff;
		border-radius: unset;
		@include media-breakpoint-up(md) {
			max-height: 16rem;
		}
		@include media-breakpoint-up(xl) {
			max-height: 20rem;
		}
		@include media-breakpoint-up(xxl) {
			max-height: 23rem;
		}
		img.card-img {
			max-height: 100%;
    		border-radius: unset;
			-webkit-filter: brightness(65%) hue-rotate(12deg) contrast(0.8);
			-moz-filter: brightness(65%) hue-rotate(12deg) contrast(0.8);
			-o-filter: brightness(65%) hue-rotate(12deg) contrast(0.8);
			-ms-filter: brightness(65%) hue-rotate(12deg) contrast(0.8);
			filter: brightness(65%) hue-rotate(12deg) contrast(0.8);

		}
	}
	.img-container {
		height: 53%;
		@include media-breakpoint-up(md) {
			height: 38%;
		}
		@include media-breakpoint-up(xl) {
			height: 65%;
		}
		@include media-breakpoint-up(xxl) {
			height: 65%;
		}

	}
}

// Sumate al Staff Form
input.wpcf7-form-control {
	border-style: none;
	border-bottom: 1px solid #a0a0a0;
}
input.wpcf7-form-control.filecv {
	border-bottom: none;
}



// *******************
// Interior Poyecto  *
// *******************

.logo-pr {
	max-width: 40%;
}
.text-vert {

	@include media-breakpoint-up(md) {
		// position: absolute;
		writing-mode: vertical-rl;
		text-orientation: inherit;
		transform: scale(-1, -1);
		// height: max-content;
		// left: 42%;
	}
}
.btn-card {
	border-radius: 20px;
}
i.avance {
	color: $gray-500;
}
body.page-template-archive-proyecto-php img.img-filter,
body.single-proyecto img.img-filter {
	-webkit-filter: brightness(65%);
	-moz-filter: brightness(65%);
	-o-filter: brightness(65%);
	-ms-filter: brightness(65%);
	filter: brightness(65%);
	width: 100%;
}
div.amenities {
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    align-items: center;
	@include media-breakpoint-up(md) {
		justify-content: flex-start;

	}
	.item {
		width: auto;
    	max-width: 4.7rem;
		img {
			max-height: 3rem;
		}
	}
}


// Masonry CSS only
section#galery-masonry {
	.masonry {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		-webkit-column-gap: 1rem;
		-moz-column-gap: 1rem;
		column-gap: 1rem;
	}
	.masonry-item {
		display: inline-block;
		width: 100%;
		transition: 1s ease all;
		margin-bottom: 1rem;
		img {
			max-width: 100%;
		}
	}
	@include media-breakpoint-up(md) {
		.masonry {
			-webkit-column-count: 2;
			-moz-column-count: 2;
			column-count: 2;
			-webkit-column-gap: 1rem;
			-moz-column-gap: 1rem;
			column-gap: 1rem;
		}
	}
	@include media-breakpoint-up(lg) {
		.masonry {
			-webkit-column-count: 3;
			-moz-column-count: 3;
			column-count: 3;
			-webkit-column-gap: 1rem;
			-moz-column-gap: 1rem;
			column-gap: 1rem;
		}
	}
	@include media-breakpoint-up(xl) {
		.masonry {
			-webkit-column-count: 4;
			-moz-column-count: 4;
			column-count: 4;
			-webkit-column-gap: 1rem;
			-moz-column-gap: 1rem;
			column-gap: 1rem;
		}
	}	
}

// ******** Results page ********
.card.search {
	border: none !important;
	.card-body {
		padding: 1rem 0rem 0rem 0rem;
	}
}

// *** Form Zoho ***
#crmWebToEntityForm {
	input, textarea {
		border-style: none;
    	border-bottom: 1px solid #a0a0a0;
		width: 100%;
	}
	input.submit {
		background-color: #575756!important;
		border-color: #545556!important;
		color: #ffffff;
		border-radius: 20px;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		padding-left: 3rem;
		padding-right: 3rem;
	}
	input.submit:hover {
			background-color: grey !important;
			border-color: grey !important;
	}
}

// ***  URBAN RENT ***
img.logo-rent {
	height: 2rem;
}
@include media-breakpoint-up(sm) {
	img.logo-rent {
		height: 3.3rem;
	}
}

// *** Join Chat ***

div.joinchat__qr {
	width: 130px;
    min-height: 130px;
	canvas {
		width: 100px !important;
		height: 100px !important;
	}
}